/**
 * @name         Discord VSC
 * @description  A theme for Discord, designed to replicate the look and feel of Microsoft Visual Studio Code
 * @author       ACTICdev
 * @version      DEV
 * @source       https://github.com/ACTICdev/discord-vsc-theme/blob/master/discord-vsc-live.theme.css
 * @authorId     140199814557073408
 */

:root {
    --background-primary: #222;
    --background-secondary: #252526;
    --background-secondary-alt: #252526;
    --background-modifier-accent: #252526;
    --channeltextarea-background: #333333;
    --background-modifier-selected: #333333;
    --vsc-blue: #007acc;
}

.content-3at_AU {
    border-radius: 0px;
    margin: 0;
}

.content-3xS9Lh, .item-1tOPte, .side-8zPYf6 .item-PXvHYJ, .scrollableContainer-2NUZem, .layout-2DM8Md {
    border-radius: 0px;
}

.name-3_Dsmg {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.wrapper-CU3qI5 {
    background-color: var(--channeltextarea-background);
}

.container-1r6BKw.themed-ANHk51, .header-2o-2hj {
    background-color: var(--background-secondary);
}

.divider-JfaTT5 {
    justify-content: left;
}

.content-1o0f9g {
    color: #fff;
    border-radius: 0;
    padding: 5px;
    background-color: var(--channeltextarea-background);
    border-bottom: 2px solid var(--vsc-blue);
}

/*timestamps*/
.cozy-3raOZG .timestamp-3ZCmNB, .membersGroup-v9BXpm span {
    padding: 0 5px;
    background-color: var(--channeltextarea-background);
}

    /*--hover*/
    .cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
        text-align: center;
    }

.barButtonBase-3UKlW2 {
    font-size: 12px;
    text-transform: uppercase;
}

.newMessagesBar-mujexs, .jumpToPresentBar-9P20AM, .headerPlaying-j0WQBV, .headerStreaming-2FjmGz, .topSectionPlaying-1J5E4n {
    background-color: var(--vsc-blue);
    border-radius: 0;
}

.lookFilled-1Gx00P.colorGreen-29iAKY, .colorDefault-2K3EoJ:hover {
    color: #fff;
    background: var(--vsc-blue);
    border-radius: 0;
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: #fff;
    background: var(--background-secondary);
    border-radius: 0;
}

.lookInverted-2D7oAl.colorBrand-3pXr91:hover, .lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    color: var(--background-secondary);
    background: #fff;
}

.colorDanger-2qLCe1:hover {
    background: #f04747;
}

.list-2bwCXU, .voiceUserSummary-1IfKg7 {
    padding: 0px 5px;
    background: var(--channeltextarea-background);
    border-left: 3px solid var(--vsc-blue);
}

.embed-IeVjo6 {
    border-radius: 0;
}

.embedFull-2tM8-- {
    border-left: 3px solid var(--vsc-blue) !important;
    background: var(--channeltextarea-background);
}

/*name tags*/
.username-1A8OIy, .markup-2BOw-j a {
    font-weight: 700;
}
    /*--hover*/
    .username-1A8OIy.clickable-1bVtEA:HOVER, .markup-2BOw-j a:hover {
        text-decoration: none;
        background: var(--channeltextarea-background);
    }

.content-3at_AU, .layout-2DM8Md {
    border-left: 3px solid transparent;
}

/*selected text channel*/
.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU, .selected-aXhQR6 .layout-2DM8Md {
    border-left: 3px solid var(--vsc-blue);
}

    /*--icons*/
    .modeSelected-1zApJ_ .icon-1_QxNX, .modeSelected-1zApJ_:hover .icon-1_QxNX, .modeUnread-1zpFdA .icon-1_QxNX, .modeUnread-1zpFdA:hover .icon-1_QxNX, .actionIcon-2Hi9ZG {
        color: #fff;
    }

/*mentions*/
.wrapper-3WhCwL {
    border-radius: 0;
    color: var(--vsc-blue);
    border-left: 3px solid var(--vsc-blue);
    padding: 0 5px;
}

.interactive:hover, .theme-dark .mentioned-xhSam7 .mention.interactive:hover, .theme-light .mentioned-xhSam7 .mention.interactive:hover {
    color: #fff;
    background: var(--vsc-blue);
}

/*links*/
.markup-2BOw-j a {
    color: var(--vsc-blue);
}

/*unread messages*/
.unread-3zKkbm {
    position: absolute;
    height: 100%;
    width: 2px;
    border-radius: 0;
    top: 0;
    left: 0;
    margin-top: 0;
}

/*message texts*/
.markup-2BOw-j {
    font-weight: 500;
}

/*autocomplete window*/
.theme-dark .autocomplete-1vrmpx {
    background: var(--background-secondary);
    border-radius: 0;
}

    /*--hover*/
    .theme-dark .selectorSelected-1_M1WV {
        background: var(--channeltextarea-background);
    }

/*top window frame*/
.withFrame-haYltI {
    background: var(--background-secondary);
}

/*channels*/
.wrapper-1ucjTd {
    padding-top: 0;
    padding-bottom: 0;
}

/*user popout*/
.userPopout-3XzG_A {
    border-radius: 0;
}

    /*--profile popout*/
    .root-SR8cQa {
        border-radius: 0;
    }

/*small buttons*/
.button-14-BFJ {
    border-radius: 0;
}

/*friends view*/
    /*--friends list*/
    .peopleListItem-2nzedh {
        border-top: none;
        border-radius: 0;
    }

    /*--main body*/
    .theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB>.scroller-2FKFPG {
        background-color: var(--background-primary);
    }

    /*--activity cards*/
    .wrapper-3D2qGf {
        background-color: var(--background-secondary);
        border-radius: 0;
    }

    /*--now playing*/
    .nowPlayingScroller-2XrVUt {
        background-color: var(--background-primary);
        border-radius: 0;
    }

    /*--activity rich presence*/
    .section-2gLsgF {
        background-color: var(--channeltextarea-background);
        border-radius: 0;
    }

/*bot tag*/
.botTagRegular-2HEhHi {
    background: var(--vsc-blue);
}
    /*--shape*/
    .rem-2m9HGf.botTag-2WPJ74, .px-10SIf7.botTag-2WPJ74 {
        border-radius: 0;
    }

/*speaking outline*/
.avatarSpeaking-3MqCHL {
    -webkit-box-shadow: inset 0 0 0 2px var(--vsc-blue),inset 0 0 0 3px var(--background-secondary);
    box-shadow: inset 0 0 0 2px var(--vsc-blue),inset 0 0 0 3px var(--background-secondary);
}

/*live badge*/
.live-vBWnV6 {
    border-radius: 0;
    background-color: var(--vsc-blue) !important;
}

/*call buttons*/
.button-1YfofB.buttonColor-7qQbGO {
    border-radius: 0;
    background-color: var(--channeltextarea-background);
}
    /*--hover*/
    .button-1YfofB.buttonColor-7qQbGO:hover {
        background-color: var(--vsc-blue);
    }

/*quotes*/
.blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6 {
background-color: green;
width: 2px;
border-radius: 0;
}
    /*--quote text*/
    blockquote {
        color: green;
        font-weight: 500;
        background-color: var(--channeltextarea-background);
    }
    /*--quote-signs*/
    blockquote::before {
        content: '//';
    }

/*new user joined*/
.iconContainer-3GkGRf {
    border-left: 3px solid rgb(255, 68, 0);
}
    /*join icon*/
    .iconSize-2tmqqh {
        background-image: none !important;
    }